:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {

}

h1 {
  background-color: rgb(59, 160, 157);
  padding: 10px;
  color: white !important;
  border-radius: 10px;
  box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.798);
}

header {
  
}